body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    border-radius: 5px;
    border: .5px solid block;
    
}

input::placeholder{
    text-align: center;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.top-header {
    background-color: #49bf9d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 1.4em;
    color: white;
}

.section{
    border-radius: 5px;
    border: 3px solid #49bf9d;
    box-sizing: border-box;
    width: 550px;
    margin: 0 auto 1.4em;
    padding: 10px;
}

.section-header {
padding-top: 1em;
    box-sizing: border-box;
    overflow: auto;
}

.section-article-nota{
    box-sizing: border-box;
    float: left;
    width: 32%;
    text-align: center;

}

.section-article-nota p{
    margin-top: 0;
    font-size: .9em;
}

.section-article-nota:nth-child(2) {
    margin: 0 2%;

}

.section-header #nota1, .section-header #nota2, .section-header #nota3{
    width: 92%;
    height: 2em;
    border: 3px black solid;
    text-align: center;
}

.section-article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-article button {
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    margin: 3px 0;
    text-decoration: none;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
    width: 30%;
    transition: all .5s;
    cursor: pointer;
}

.section-article button:hover {
    background-color: #6ad1b4;
    border-color: transparent;
}




.section-article-pi  {
    color: #777;
    border: 3px solid #777;
    margin: 1.1em auto;
    width: 90%;
    padding:1em 1em 0;
}

.section-article-pi h1{
    font-size: 1.5em;
}

.section-article-pi p{
    font-size: 1em;
}

.article-final{
    background-color: #49bf9d;
    text-align: center;
    margin: 1.1em auto;
    width: 90%;
border-radius: 5px;
    display: block;
    color: white;
    padding:1em;
}

.article-final p{
    font-size: 1.5em;

}
.article-final #notafinal,.article-final #situacaofinal {
    width: 40%;
    height: 1.3em;
    margin: 5px auto 2em;
    text-align: center;
    background-color: white;
    color: black;

}






