body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eceff4;
}
input::placeholder {
  text-align: center;
  font-size: 1em;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.top-header {
  width: 100%;
  background-color: #2e3440;
  text-align: center;
  font-size: 1.5em;
  color: white;
}
.section {
  box-sizing: border-box;
  width: 90%;
  margin: 1.3em auto;
  padding: 0.625em;
}
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5em;
}
.section-header input {
  border-radius: 0.3125em;
  width: 90%;
  height: 2em;
  border: 0.1875em black solid;
  text-align: center;
}
.section-article-nota {
  box-sizing: border-box;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-article-nota p {
  margin-top: 0;
  font-size: 0.7em;
  text-align: center;
}
.section-article {
  display: flex;
  justify-content: center;
}
.section-article button {
  background-color: #2e3440;
  border: 0.1875em solid #2e3440;
  text-decoration: none;
  color: white;
  padding: 0.75em;
  border-radius: 0.3125em;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.section-article-pi {
  color: #777;
  border: 0.1875em solid #777;
  margin: 1.1em auto;
  padding: 1em 1em 0;
}
.article-final {
  background-color: #2e3440;
  text-align: center;
  margin: 1.1em auto;
  border-radius: 0.3125em;
  display: block;
  color: white;
  padding: 1em;
}

.article-final div {
  width: 40%;
  height: 1.3em;
  margin: 0.3125em auto 2em;
  text-align: center;
  background-color: white;
  color: black;
}

@media (min-width: 37.5em) {
  .section-header {
    overflow: auto;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-article-nota {
    margin: 0 auto;
  }
}

@media (min-width: 43.75em) {
  .section {
    box-sizing: border-box;
    width: 70%;
  }
}
